.App {
  /* text-align: center; */
  background-color: #ffffff;
  padding: 2em;
  margin: 2em;
  border-radius: 1em;
  /* height: 100%; */
}

h3 {
  font-weight: normal;
  color: black;
  font-size: larger;
}
h2 {
  font-weight: 1em;
  color: black;
  font-size: larger;
}
p {
  font-weight: 1em;
  color: black;
  font-size: larger;
}
